html{
	overflow-y:scroll;
	height:100%;
}
abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:0 0;
	margin:0;
	padding:0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{
	display:block;
}
a{
	color:inherit;
	font-size:100%;
	vertical-align:baseline;
	background:0 0;
	outline:0;
	text-decoration:none;
	margin:0;
	padding:0;
	-webkit-transition:all ease-in-out .3s;
	transition:all ease-in-out .3s;
}
a img,a:active,a:focus,a:visited{
	outline:0;
	text-decoration:none;
	border:none;
}
a:active,a:hover{
	outline:0;
	text-decoration:none;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
button,input,select,textarea{
	font:99% sans-serif;
}
ol{
	list-style-type:decimal;
}
small{
	font-size:85%;
}
td,td img{
	vertical-align:top;
}
textarea{
	overflow:auto;
}
input[type=checkbox]{
	vertical-align:bottom;
}
button,input[type=button],input[type=submit],label{
	cursor:pointer;
}
blockquote,pre{
	border:none;
	page-break-inside:avoid;
}
img,tr{
	page-break-inside:avoid;
}
li,ul{
	list-style:none;
}
blockquote,q{
	quotes:none;
}
blockquote:after,blockquote:before,q:after,q:before{
	content:none;
}
h1,h2,h3,h4,h5,h6{
	font-weight:400;
}
address{
	font-style:normal;
}
body{
	font:13px/1.231 sans-serif;
	height:100%;
}
select{
	-moz-appearance:none;
	text-indent:.01px;
	text-overflow:'';
}
select:active,select:focus{
	outline:0;
}
.clearfix { 
  *zoom: 1; 
} 
 
.clearfix:before, 
.clearfix:after { 
  display: table; 
  line-height: 0; 
  content: ""; 
} 
 
.clearfix:after { 
  clear: both; 
} 
.browsehappy{
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	top:0;
	background:#fff;
	padding:100px;
	color:#000;
	z-index:29000;
	font-size:1.5em;
	line-height:normal;
}
.browsehappy p{
	color:#000;
	line-height:normal;
	margin:0 0 20px;
}
.browsehappy p strong{
	font-size:2em;
	font-weight:400;
}
.browsehappy p a{
	color:#3B5998;
}
.browsehappy p a:hover{
	text-decoration:underline;
}
.browsehappy small{
	font-size:.5em;
}



/* media */
/* 横屏 */
@media screen and (orientation:landscape){
}
/* 竖屏 */
@media screen and (orientation:portrait){
}
/* 窗口宽度<960,设计宽度=768 */
@media screen and (max-width:959px){
}
/* 窗口宽度<768,设计宽度=640 */
@media screen and (max-width:767px){
}
/* 窗口宽度<640,设计宽度=480 */
@media screen and (max-width:639px){
}
/* 窗口宽度<480,设计宽度=320 */
@media screen and (max-width:479px){
}
/* windows UI 贴靠 */
@media screen and (-ms-view-state:snapped){
}
/* 打印 */
@media print{
}